<div class="background">
    <div class="card">
        <div style="text-align: center; margin-bottom: 10px;">
<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    
    <h2 style="align-content: center;">Login</h2>
  <input type="email" id="email" placeholder="Enter Your Email " formControlName="email" required><br>
  
  
  <input type="password" id="password" placeholder="Enter Your Password " formControlName="password" required><br>

  <button type="submit">Login</button>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
</form>
