<div class="sidebar">

  <div class="table-container">
    <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="userList.length === 0; else userListData">
      <tr>
        <td colspan="2">Loading user list...</td>
      </tr>
    </ng-container>
    <ng-template #userListData>
      <tr *ngFor="let user of userList" (click)="loadConversationHistory(user.id)">
        <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
      </tr>
    </ng-template>
  </tbody>
</table>
<strong> log Information<a routerLink="/logs"> Log</a></strong>
</div>



</div>